---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lea Tinoso">
	<main class="text-slate-50 bg-slate-950 h-screen">
		<section>
			<h1>Hey, I'm Lea</h1>
			<h2>a Full-Stack Software Engineer</h2>
			<p>I mainly use Ruby on Rails for the back-end and ReactJS for the front-end. Oh, and I'm also familiar with Nest.js for back-end work.</p>
			<div>
				<button>View Cv</button>
				<button>Email</button>
			</div>
		</section>
		<section>

		</section>
	</main>
</Layout>
