---
import Layout from '../layouts/Layout.astro';
import developmentImage from '../assets/development.svg'
---

<Layout title="Lea Tinoso">
	<main class="text-slate-50 bg-slate-950 h-screen">
		<div class="flex h-full">
			<section class="flex w-3/5">
				<div class="m-auto">
					<h1 class="text-4xl font-bold">Hey, I'm Lea</h1>
					<h2 class="text-2xl font-normal">a Full-Stack Software Engineer</h2>
					<p class="text-gray-400 py-9">I mainly use Ruby on Rails, React.js &  Nest.js.</p>
					<div>
						<a href="https://app.luminpdf.com/viewer/64e0683f9cfc88c903663317" target="_blank" rel="noopener noreferrer">
							<button class="bg-pink-600 hover:bg-pink-500 text-white py-2 px-4 rounded mr-8">View Cv</button>
						</a>
						<a href="mailto:lxthym@icloud.com">
							<button class="text-pink-600 hover:border-pink-500 border border-pink-600 py-2 px-4 rounded">Email</button>
						</a>
					</div>
				</div>
			</section>
			<section class="flex">
				<div class="mt-auto ml-auto">
					<img class="w-5/6" src={developmentImage}>
				</div>
			</section>
		</div>
	</main>
</Layout>
